n8n-workflows/email-automation/Customer Support Workflow.json
{
  "name": "Customer Support Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        304
      ],
      "id": "ebd42da0-e49c-4117-9ecd-613363089516",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "jY2Gq16EoZ0PFywT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support ",
              "description": "An Email that is related to helping out a customer. They may be asking about our policies or questions about our products and services"
            },
            {
              "category": "Other",
              "description": "Ant Email that is not customer support related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        224,
        304
      ],
      "id": "d13ac68d-7f99-4d36-9a42-eab15ab24400",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "openrouter/auto",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        304,
        528
      ],
      "id": "086678d1-6523-4e78-9900-1ebfb50dcd11",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "NEJ4PwmhWsxTA0Rl",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        496
      ],
      "id": "0f09d5af-29b2-42fe-bc10-eba7842e3875",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "##Overview\nYou are a customer support agent for Tech Kenya. Your job is to respond to incoming Emails with relevant information using your knowledge base tool\n##Instructions\nYour output should be friendly and use Emojis \nYou should sign off as Mr. Helpful from Tech Kenya\n##output\nOutput only the body content"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        -112
      ],
      "id": "783fa42d-008e-4aac-9f42-f464f6c3b563",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openrouter/auto",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        576,
        112
      ],
      "id": "97e4ae34-1d54-4bbc-973c-95a34c16d2a3",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "NEJ4PwmhWsxTA0Rl",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access policy and FAQ information",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        704,
        112
      ],
      "id": "322847ae-3304-4236-b6ce-ba1a123b28c9",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        784,
        320
      ],
      "id": "a575cf4b-dfa8-4df9-a79a-8bd13e69e7de",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "hSLzaYRPLMLar89O",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        -112
      ],
      "id": "13d14fd2-2cc4-4143-82c8-aae3e745eadb",
      "name": "Reply to a message",
      "webhookId": "7d96f68c-1a1b-431a-a24e-15508d84ce22",
      "credentials": {
        "gmailOAuth2": {
          "id": "jY2Gq16EoZ0PFywT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19be7456e5759d2b",
          "threadId": "19be744b63e967ad",
          "snippet": "Hello Support Team, This is a test message to verify that the customer support workflow is functioning correctly. I would like to request information regarding the company&#39;s policies and frequently",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 1689,
          "historyId": "352375",
          "internalDate": "1769111644000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "Test Email - Policy and FAQ Inquiry",
          "From": "Lydiah <lydiahwairurik@gmail.com>",
          "To": "Lydiah <lydiahwairurik@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5e984b60-9df4-4f69-9d84-52bab6e9acfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a8d70e9c8918cfb41efabc17ab0b7bd228876c5646a643d7e9d6c8737a889a1"
  },
  "id": "DzGpRb71oDEvKu1XCj_jJ",
  "tags": []
}