n8n-workflows/invoice-processing-workflow/Invoice Processing.json
{
  "name": "Invoice Processing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dsBG4erPA2ZxxumL0_lEzz0LfFxk6ouj",
          "mode": "list",
          "cachedResultName": "Test invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dsBG4erPA2ZxxumL0_lEzz0LfFxk6ouj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0ef31d10-f8c5-4ee8-8dd4-e9e5aa266e9d",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "05f40KOx8H6yvkyD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "1dca0afe-9299-4c46-944b-848654f97d70",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "8b9b009a-cc27-4a47-a3d6-684d26247b91",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "05f40KOx8H6yvkyD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice number",
              "description": "Number of the invoice",
              "required": true
            },
            {
              "name": "Client Address ",
              "description": "Address of the client",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "Name of the client",
              "required": true
            },
            {
              "name": "Client Phone ",
              "description": "Number of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "Total amount of the invoice",
              "required": true
            },
            {
              "name": "Invoice date ",
              "description": "Date invoice was created",
              "required": true
            },
            {
              "name": "Due Date",
              "description": "Date invoice is due",
              "required": true
            },
            {
              "name": " Client Email",
              "description": "Email of the client",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "9328a954-646f-47bc-820a-284df9242100",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "deedeb08-0ed3-4b75-92d8-b0793a0c6793",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "NEJ4PwmhWsxTA0Rl",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tMYFqgJl1nLvy4425YPOoznlr0BgGKJCWuuDWNoFsRw",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tMYFqgJl1nLvy4425YPOoznlr0BgGKJCWuuDWNoFsRw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tMYFqgJl1nLvy4425YPOoznlr0BgGKJCWuuDWNoFsRw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice number": "={{ $json.output['Invoice number'] }}",
            "Client Address ": "={{ $json.output['Client Address '] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Invoice date ": "={{ $json.output['Invoice date '] }}",
            "Client Phone ": "={{ $json.output['Client Phone '] }}",
            " Client Email": "={{ $json.output[' Client Email'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice number",
              "displayName": "Invoice number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Client Email",
              "displayName": " Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address ",
              "displayName": "Client Address ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone ",
              "displayName": "Client Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice date ",
              "displayName": "Invoice date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "fd871f47-4036-48ae-8ec1-340e81d8608f",
      "name": "Update DB/ sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P6mu3JkFHyIaniqJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice number;  {{ $('Information Extractor').item.json.output['Invoice number']}}\nClient Name;{{ $('Information Extractor').item.json.output['Client Name'] }}\nClient Email;{{ $('Information Extractor').item.json.output[' Client Email'] }}\nTotal Amount;{{ $('Information Extractor').item.json.output['Total Amount'] }}\nInvoice date;{{ $('Information Extractor').item.json.output['Invoice date '] }}\nDue date;{{ $('Information Extractor').item.json.output['Due Date'] }}"
            },
            {
              "content": "#Overview\nYou are an email expert for GG Corp named Greenie. You will receive invoice information. Your job is to notify the internal billing team that an invoice was received/sent. \n#Output\nOutput the following parameters separately:\n1.Subject\n2.Email",
              "role": "model"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1168,
        0
      ],
      "id": "6102a4a7-3212-41ec-9860-13ba2023fab8",
      "name": "Craft an email",
      "credentials": {
        "googlePalmApi": {
          "id": "VDy8ToCUbronbg62",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "lydiahwairurik@gmail.com",
        "subject": "New Invoice",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        0
      ],
      "id": "d1145013-3979-47aa-8d59-76e00d92e51f",
      "name": "Send Email",
      "webhookId": "30f91460-4b07-48d6-a6cf-95e4527cb309",
      "credentials": {
        "gmailOAuth2": {
          "id": "jY2Gq16EoZ0PFywT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "parents": [
            "1dsBG4erPA2ZxxumL0_lEzz0LfFxk6ouj"
          ],
          "lastModifyingUser": {
            "displayName": "Lydiah",
            "kind": "drive#user",
            "me": true,
            "permissionId": "14719058211313381410",
            "emailAddress": "lydiahwairurik@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJw42_NetBK7df7wkXgWCvJ2LhtOxEsdfIC7LxkRaKLU2XPww=s64"
          },
          "owners": [
            {
              "displayName": "Lydiah",
              "kind": "drive#user",
              "me": true,
              "permissionId": "14719058211313381410",
              "emailAddress": "lydiahwairurik@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJw42_NetBK7df7wkXgWCvJ2LhtOxEsdfIC7LxkRaKLU2XPww=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "14719058211313381410",
              "type": "user",
              "emailAddress": "lydiahwairurik@gmail.com",
              "role": "owner",
              "displayName": "Lydiah",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJw42_NetBK7df7wkXgWCvJ2LhtOxEsdfIC7LxkRaKLU2XPww=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "14719058211313381410"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1MW8mIkVjq233cttoedQL1-mH-SBIB2iA",
          "name": "Invoice 4.pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "3",
          "webContentLink": "https://drive.google.com/uc?id=1MW8mIkVjq233cttoedQL1-mH-SBIB2iA&export=download",
          "webViewLink": "https://drive.google.com/file/d/1MW8mIkVjq233cttoedQL1-mH-SBIB2iA/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBNbYl9mt1FlHZh2RebMhJkoyWXfWKOhB-xGuLZqVtb20yLGtyLoMrb2HtrDKvWnG396wfQY_Ny894df64KyfLcypxpZ_M1Zw4ZhhRaCH_bz9RcX=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2026-01-23T14:31:40.326Z",
          "createdTime": "2026-01-23T14:31:40.326Z",
          "modifiedTime": "2026-01-23T14:29:00.000Z",
          "modifiedByMeTime": "2026-01-23T14:29:00.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "Invoice 4.pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "3a6c60e88aaeeac8dd8881ff8bf5878e",
          "sha1Checksum": "290b76f36afa21a83a2fe8592d3f94e7ffe8fee6",
          "sha256Checksum": "3f51a6316d43206257cef3ba76661c076757ec6c5920072248c5b8e21e6a4798",
          "size": "1696",
          "quotaBytesUsed": "1696",
          "headRevisionId": "0B-Z7HHePfftCMSs2c0JHTFVwWnlWTkpkd3dEYi9iWDhoUW9NPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB/ sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB/ sheets": {
      "main": [
        [
          {
            "node": "Craft an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Craft an email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e05e15b6-2db7-446f-b6d2-261182824553",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a8d70e9c8918cfb41efabc17ab0b7bd228876c5646a643d7e9d6c8737a889a1"
  },
  "id": "LM9MjBEQrx7z9LGlnaVpM",
  "tags": []
}